#data{
    width: 280px;
    box-shadow: 0 -1px 0 cornflowerblue,
    1px 1px 0 cornflowerblue,
    -1px 0 0 cornflowerblue;
    margin: 20px auto;
    font-family: "Hannotate SC",serif;
}
#data > p{
    display: flex;
}
#data > h5{
    text-align: center;
}
#data > p > span{
    padding: 0 10px;
}
#prev,#next{
    cursor: pointer;
}
#nian{
    flex: 1;
    text-align: center;
}
#title{
    overflow: hidden;
    list-style: none;
    background: cornflowerblue;
    padding-left: 0;
    color: white;
}
#title > li{
    float: left;
    width: 40px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
#date{
    overflow: hidden;
    list-style: none;
    padding-left: 0;
}
#date > li{
    float: left;
    width: 34px;
    height: 34px;
    margin: 1px 1px;
    border: 2px solid rgba(0,0,0,0);
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
#date > .hover:hover{
    border: 2px solid red;
}

.active{
    color: red;
}
#datecontrol{
    background: cornflowerblue;
    color: white;
}
#yue{
    font-weight: bold;
    color: white;
    background: orange;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
}
.hasTodo{
    background: lightblue;
}
#dateFilter{
    box-shadow: 0 -1px 0 cornflowerblue,
    1px 1px 0 cornflowerblue,
    -1px 0 0 cornflowerblue;
    font-family: "Hannotate SC",serif;
    width: 280px;
    margin: 20px auto;
    background: cornflowerblue;
    color: white;
}
#selectedItem{
    box-shadow: 0 -1px 0 cornflowerblue,
    1px 1px 0 cornflowerblue,
    -1px 0 0 cornflowerblue;
    font-family: "Hannotate SC",serif;
    width: 280px;
    margin: 20px auto;
    background: white;
    color: black;
}
#endToday {
    box-shadow: 0 -1px 0 cornflowerblue,
    1px 1px 0 cornflowerblue,
    -1px 0 0 cornflowerblue;
    font-family: "Hannotate SC",serif;
    width: 280px;
    margin: 20px auto;
    background: cornflowerblue;
    color: white;
}